* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(188, 245, 196);
}
/* animalion pokeball */

@keyframes rotatePokeBall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes magic-disappearance {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#loading {
  background-color: white;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  /* opacity: 0.9; */
  transform-origin: top;
  -webkit-animation: magic-disappearance 0.9ms 3s forwards;
  animation: magic-disappearance 0.9ms 3s forwards;
}
#pokeball {
  position: relative;
  top: 45%;
  left: 45%;
  width: 64px;
  height: 64px;
  animation: rotatePokeBall 2s infinite ease-in-out;
}
/* fin animation pokeball */

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  flex-direction: column;
  border-radius: 32px;
  padding: 40px;
  width: 60%;
  max-width: 500px;
}
#header {
  margin-bottom: 20px;
  text-transform: capitalize;
}
#button {
  padding: 16px;
  border: 1px solid black;
  border-radius: 32px;
  background-color: lightgray;
  cursor: pointer;
}
#button:hover {
  background-color: lightslategray;
}
@media (max-width: 768px) {
  #wrapper {
    width: 80%;
    max-width: 800px;
  }
  #image {
    width: 175px;
  }
  #name {
    font-size: 32px;
  }
}
